[Desktop Entry]
Version=1.0
Type=Application
Name=Bitwarden
GenericName=Password Vault
Comment=Bitwarden Password Vault
Exec=/home/mark/.local/bin/bitwarden
Icon=/home/mark/.local/share/icons/bitwarden_icon.png
Categories=Utility;Security
MimeType=x-scheme-handler/bitwarden;text/html;
