[Desktop Entry]
Version=1.0
Type=Application
Name=kitty-session
GenericName=Terraform Terminal emulator
Comment=Fast, feature-rich, GPU based terminal
TryExec=/home/mkeisler/.local/bin/kitty-session
Exec=/home/mkeisler/.local/bin/kitty-session
Icon=/home/mkeisler/.local/kitty.app/share/icons/hicolor/256x256/apps/kitty.png
Categories=System;TerminalEmulator;
