[Desktop Entry]
Version=1.0
Type=Application
Name=kitty
GenericName=Terminal emulator
Comment=Fast, feature-rich, GPU based terminal
TryExec=/home/mkeisler/.local/kitty.app/bin/kitty --single-instance --instance-group main
Exec=/home/mkeisler/.local/kitty.app/bin/kitty --single-instance --instance-group main
Icon=/home/mkeisler/.local/kitty.app/share/icons/hicolor/256x256/apps/kitty.png
Categories=System;TerminalEmulator;
